@page "/home"

<div class="container mt-5 text-center">
    <h2>Welcome to the Retro Cafe!</h2>

    <img src="images/logo.jpg" alt="Coffee Image" style="width: 200px; height: 200px;" class="img-fluid mt-3 mb-4" />
    <p>
        Retro Café, invites you to savor a rich variety of expertly crafted coffees.
        From robust espresso shots to velvety lattes, our diverse menu ensures a delightful experience for every coffee enthusiast.
        Immerse yourself in our warm ambiance, where each sip tells a story of passion and precision.
        Join us for a journey through the art of coffee at Retro Cafe.
    </p>
</div>
